*.lock
target
tests/data/git_repositories
tests\\data\\git_repositories

tests/data/git_repository_social_complexity
tests\\data\\git_repository_social_complexity


# Added by cargo

.idea/vcs.xml
/target

# backlog
*.dot
backlog.png
fake_*

# perf file
*.time
tests/data/generated*
fs_generator/root_directory*
massif.out.*