*.lock
target
tests/data/git_repositories
tests\\data\\git_repositories

tests/data/git_repository_social_complexity
tests\\data\\git_repository_social_complexity
tests/data/non_git_repository
tests\\data\\non_git_repository

.idea/
.DS_Store

# Added by cargo

.idea/vcs.xml
/target

# backlog
*.dot
backlog.png
fake_*

# perf file
*.time
tests/data/generated*
fs_generator/root_directory*
massif.out.*
heaptrack.smells*

trash_file*